.back-card{
  position: absolute;
  width: 550px;
  height: 360px;
  background: #d9d9d9;
  border-radius: 18px;
  top: 18%;
  left: 38%;
  box-shadow: 0 14px 22px rgba(0,0,0,.25);
}
.magstripe{
    height: 60px;
    color: #000;
    background: #000;
    margin-top: 10%;
}
.container{
  position: absolute;
  width: 520px;
  height: 280px;
  background: #d9d9d9;
  border-radius: 18px;
  top: 12%;
  left: 25%;
  box-shadow: 0 14px 22px rgba(0,0,0,.25);
  padding: 40px 50px;
}


#checkoutForm{
  position: relative;
  height: 100%;
  font-family: Georgia, serif;
}

.toprow{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 24px;
}

.total{
  margin: 0;
  font-size: 30px;
}

.icon{
  margin: 0;
  font-size: 50px;
}



label{
  display: block;
  font-weight: 700;
  letter-spacing: .3px;
  font-size: 20px;
}


#checkoutForm input{
  border: 2px solid rgba(0,0,0,.35);
  border-radius: 3px;
  padding: 10px 12px;
  font-size: 16px;
  background: #fff;
  box-sizing: border-box;
}


.field.full input{
  width: 100%;
}


.bottomrow{
  display: grid;
  grid-template-columns: 1.4fr 1fr;
  gap: 28px;
  align-items: end;
}


.holder input{
  width: 260px;
}


.exp-row{
  display: grid;
  grid-template-columns: 60px 60px;
  gap: 12px;
}

.exp-row input{
  width: 100%;
  text-align: center;
}


.cvc{
  position: absolute;
  right: -160px;
}

.cvc label{
  font-size: 18px;
  margin-bottom: 8px;
}

.cvc input{
  width: 80px;
}
#cardnumber {
  width: 260px;
}

.submit{
  position: absolute;
  right: -160px;
  bottom: -180px;

  padding: 12px 24px;
  border-radius: 12px;
  border: 3px solid rgba(0,0,0,.7);
  background: #fff;
  font-size: 16px;
  box-shadow: 0 10px 14px rgba(0,0,0,.25);
  cursor: pointer;
}