font{
    font-family: 'Avenir', 'Helvetica', 'Arial', sans-serif;
}
h1{
    font-weight: lighter;
    font-size: 60px;
    text-align: center;
}
h2{
    color: rgb(31, 75, 141);
    text-align: center;
    font-size: 30px;
    font-weight: 350;
    width: 100%;
    letter-spacing: 3px;
}
hr{
    width: 65%;
}
#italics{
    text-align: left;
    font-style: italic;
    font-size: 25px;
}
#logo{
    padding-left: 58%;
    width: 200px;
    padding-top: 50px;
}
p{
    text-align: left;
    font-size: 25px;
    max-width: 75%;
    
}
#center{
    padding-left: 23%;
}
#indent{
padding-left: 5%;
max-width: 75%;
font-size: 25px;
}
li{
    margin: 10px;
    font-size: 25px;
}
body.dark {
  background: #000;
  color: #fff;
}