.mainscreen{
    display : grid;
    grid-template-columns: 2fr 1fr 2fr;
    padding-left: 100px;
    padding-right: 100px;
}
nav {
  display: flex;
  justify-content: flex-end;
  gap: 1.5rem;
}

h1{
    display: flex;
    justify-content: center;
}
footer {
    display: flex;
    justify-content: center;
}
nav a {
  text-decoration: none;
  color: brown;
}